body {
        margin: 0;
        padding: 0;
        background-color: #222;
        color: #fff;
        font-family: Arial, sans-serif;
        overflow: hidden;
        user-select: none;
        /* Disable text selection */
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
}

h1,
p,
h1 a {
        color: #fff;
        text-align: left;
        margin: 20px;
}

h1 {
        text-align: center;
}

.instruction {
        margin-bottom: 10px;
}

.instructions-block {
        height: 60px;
        padding: 10px;
        border-radius: 10px;
        border: 1px solid #222;
        width: 300px;
        overflow-y: scroll;
        transition: all 0.5s ease;
}

.instructions-block:hover {
        height: 500px;
}

.postscript{
        font: 12px Arial, sans-serif;
}